<!DOCTYPE html>
<html>
  <head>
    <title>Meu Bloguinho</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  
    <div class="bg-primary text-white text-center mb-4 p-4">
      <%= link_to root_path, class: 'text-white' do %>
        <h1 class='display-4'> Blog Padrão do Thiago Rezende </h1>
      <% end %>
      <p  class="lead">
        Olá, aqui você encontrará devaneios meus que quero expor aos corajosos que acharem essa página
      </p>
    </div>
    <div class="container">
      <%= yield %>
    </div>
    <footer class="bg-primary text-white text-center mt-5 p-4">
      Desenvolvido por Thiago Rezende em 2022
    </footer>
  </body>
</html>
